<nz-layout class="page">
    <nz-layout>
        <nz-sider nzTheme="dark">
            <div class="title">
                All-Listen
            </div>
            <ul nz-menu nzMode="inline" nzTheme="dark">
                <li nz-menu-group nzTitle="创建的歌单">
                    <ul>
                        <li nz-menu-item>test1</li>
                    </ul>
                </li>
                <li nz-menu-group nzTitle="收藏的歌单">
                    <ul>
                        <li nz-menu-item>test2</li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-layout>
            <nz-header>
                <div class="header-input">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="搜索歌曲" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
            </nz-header>
            <nz-content>
                
            </nz-content>
        </nz-layout>
    </nz-layout>
    <nz-footer nz-row>
        <div nz-col nzSpan="4" class="footer-tooltip">
            <i nz-icon nzType="step-backward" nzTheme="outline"></i>
            <i nz-icon nzType="pause" nzTheme="outline"></i>
            <i nz-icon nzType="step-forward" nzTheme="outline"></i>
        </div>
        <div nz-col nzSpan="16" class="footer-bar">
            <div class="music-cover">
            </div>
            <div class="music-bar">
                <div>
                    <span>再见二丁目</span>
                </div>
                <div>
                    <span>00:00</span>
                    <span>杨千嬅</span>
                    <span>03:00</span>
                </div>
                <div>
                    <nz-slider [(ngModel)]="value1" [nzStep]="0.01"></nz-slider>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="4" class="footer-tooltip">
            <i nz-icon nzType="customer-service" nzTheme="outline"></i>

            <div class="icon-wrapper voice-slider">
                <i nz-icon nzType="sound" nzTheme="outline"></i>
                <nz-slider [(ngModel)]="value2"></nz-slider>
            </div>
        </div>
    </nz-footer>
</nz-layout>