@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.css';

.comm-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-sider-children .logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout .site-layout-header {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.site-layout .site-layout-footer {
  padding: 0;
  height: 55px;
}

.ant-layout-sider-trigger {
  height: 55px;
  line-height: 55px;
}

.site-layout .footer-toolbar {}

.site-layout .footer-toolbar-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.site-layout .footer-toolbar-main .title {
  display: flex;
  justify-content: space-between;
}

.site-layout .footer-toolbar-main .ant-slider {
  margin: 0px 0px;
}

.comm-icon {
  font-size: 21px;
}